html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(79, 80, 177, 0.637), #eee);
}

.content {
  position: fixed;
  left: 50%;
  height: 90%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  text-align: center;
}

.app {
  text-align: center;
  padding: 50px;
  background-color: #eee;
}

.list {
  list-style: none;
}

.listMultiline {
  margin: 0;
  left: 50%;
  overflow-y: auto;
  overflow-x: auto;
  height: 90%;
}

.button {
  margin: 5px;
  /* background-color: rgb(0, 38, 255); */
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
}

.icon {
  margin: auto;
  font-size: 25px;
  cursor: pointer;
  float: right;
}

.cancelIcon {
  color: red;
}

.completeIcon {
  color: green;
}

.addIcon {
  color: blue;
}

.listTitle {
  font-weight: bold;
  font-size: 20px;
}

.listItemCompleted {
  text-decoration: line-through;
}

.title {
  color: blue;
}

.count {
  float: left;
}

.nameInput {
  font-size: max(16px, 1em);
  font-family: inherit;
  /* padding: 2px 4px !important; */
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  width: 100%;
}

.listloader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}