html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(79, 80, 177, 0.637), #eee);
}

.content {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.app {
  text-align: center;
  padding: 50px;
  background-color: #eee;
}

.list {
  list-style: none;
}

.button {
  margin: 5px;
  background-color: rgb(0, 38, 255);
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  margin: auto;
  font-size: 25px;
  cursor: pointer;
  float: right;
}

.cancelIcon {
  color: red;
}

.completeIcon {
  color: green;
}

.addIcon {
  color: blue;
}

.listTitle {
  font-weight: bold;
  font-size: 20px;
}

.listItemCompleted {
  text-decoration: line-through;
}

.title {
  color: blue;
}

.count {
  position: absolute;
  float: left;
}

.nameInput {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}